* {
    box-sizing: border-box
}

.html {
    background-color: #e5e5f7;
    /*opacity: 0.6;*/
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 6px), repeating-linear-gradient(#adcfe555, #adcfe5);
}

.center {
    margin-left: auto;
    margin-right: auto
}

.left_col {
    float: left;
    position: relative;
    background-color: #acacac;
    width: 33.33%;
    height: 150px;
    padding: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}

.mid_col {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    background-color: #ffffff;
    width: 33.33%;
    height: 180px;
    padding: 7px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px
}

.rigth_col {
    display: flex;
    float: left;
    position: relative;
    background-color: #acacac;
    width: 33.33%;
    height: 150px;
    padding-top: 90px;
    padding-right: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: right
}

.rigth_col a {
    text-decoration: none;
    color: #29415c;
    padding: 4px
}

.header::after {
    content: "";
    display: table;
    clear: both
}

.body_1,
header,
section {
    margin: 0 2% 0 2%
}

#btn_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: 0;
    background-color: #395a7f;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px
}

#btn_top:hover {
    background-color: #6e9fc1
}

.head {
    background-color: #395a7f;
    border-radius: 15px;
    display: block;
    position: relative
}

.head h1 {
    display: block;
    font-family: Lora, serif;
    font-weight: 700;
    font-size: 5vw;
    height: 100px;
    text-align: center;
    padding: 40px
}

.head h1 a {
    text-decoration: none;
    color: #fff;
    text-shadow: 4px 4px #000
}

.menu {
    overflow: hidden;
    background-color: #acacac;
    border-radius: 10px
}

.menu a {
    float: left;
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 7px 7px
}

.menu a.login,
menu p {
    float: right;
    display: block;
    padding: 7px 7px
}

.menu a:hover {
    color: #fff;
    background-color: #395a7f;
    border-radius: 15px;
    text-shadow: 2px 2px #000
}

.menu .icon {
    display: none
}

@media screen and (max-width:600px) {
    .menu a:not(:first-child) {
        display: none
    }

    .menu a.icon {
        float: right;
        display: block
    }
}

@media screen and (max-width:600px) {
    .menu.responsive {
        position: relative
    }

    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: left
    }
}

img {
    vertical-align: middle
}

.slider_container {
    position: relative;
    border-radius: 5px;
    padding-top: 10px
}

.slider_container img {
    width: 100%
}

.myslides {
    display: none
}

.cursor {
    cursor: pointer
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    user-select: none
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px
}

.next:hover,
.prev:hover {
    background-color: transparent
}

.img_number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 25px 25px 25px;
    position: absolute
}

.caption-container p {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: #fff
}

.slider_row:after {
    content: "";
    display: table;
    clear: both
}

.slider_column {
    float: left;
    width: 14.27599%
}

.demo {
    opacity: .6
}

.active,
.demo:hover {
    opacity: 1
}

.welcome {
    display: flex;
    width: auto;
    text-align: center;
    height: auto;
    background-color: #c1d2e6;
    border-radius: 15px;
    padding-bottom: 25px
}

.welcome p {
    font-size: 28px;
    font-weight: bolder
}

@media screen and (max-width:600px) {
    .welcome p {
        font-size: 12px
    }
}

.body_2 {
    display: flex;
    background-color: #c1d2e6;
    border-radius: 15px
}

.body_2 div p {
    font-size: 20px;
    text-align: justify;
    font-family: 'Exo-2', sans-serif
}

.body_2-img {
    width: 100%;
    height: auto
}

@media screen and (max-width:600px) {
    .body_2 div p {
        font-size: 18px
    }
}

.body_3 {
    text-align: center;
    position: relative;
    /*margin: 0 auto;*/
    /*font-size: 20px;*/
    border-radius: 15px;
    background-color: #97afca;
    height: 200px;
    bottom: 0;
}

.first_row {
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px
}

p {
    font-family: Exo-2, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 10px
}

@media screen and (max-width:768px) {
    p {
        font-size: 14px
    }
}

@media screen and (max-width:480px) {
    p {
        font-size: 12px
    }
}

.rightcolumn {
    float: right;
    width: 39%;
    height: 75px;
    padding: 7px
}

.rightcolumn p {
    background-color: beige
}


.body_2w {
    display: flex;
    width: auto;
    height: auto;
    background-color: #c1d2e6;
    border-radius: 15px;
    padding-bottom: 25px;
    justify-content: center
}

.body_2w p {
    text-align: justify
}

.imgheader {
    display: flex;
    justify-content: center
}

.imgheader img {
    max-width: 95%;
    height: auto
}

@media screen and (max-width:800px) {
    .imgheader img {
        flex: 50%;
        max-width: 50%
    }
}

@media screen and (max-width:600px) {
    .imgheader img {
        flex: 40%;
        max-width: 40%
    }
}

.galleryheader {
    text-align: center;
    padding: 32px;
    background-color: #c1d2e6;
    border-radius: 15px;
    width: 96%;
    margin: 0 auto;
}

.photorow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

}

.photocolumn {
    flex: 35%;
    max-width: 35%;
    padding: 0 4px
}

.photocolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%
}

/* Style gallery buttons */
.gallery_btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

.gallery_btn:hover {
    background-color: #ddd;
}

.gallery_btn.active {
    background-color: #666;
    color: #97afca;
}

@media screen and (max-width:800px) {
    .photocolumn {
        flex: 50%;
        max-width: 50%
    }
}

@media screen and (max-width:600px) {
    .photocolumn {
        flex: 100%;
        max-width: 100%
    }
}


/* Style login/signup form*/

main {
    margin: 0;
    font-family: 'Exo2', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75svh;
    font-size: larger;
    background-image: url("https://c.pxhere.com/photos/1d/aa/oldtimer_cadillac_auto_exotic_american_usa_classic_automotive-610202.jpg!d");
    background-repeat: no-repeat;
    background-position: center;

}

main p {
    text-align: left;
}

.form-container {
    width: 500px;
    background-color: #cacacac2;
    border-radius: 15px;
    padding: 45px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form p {
    text-align: center;
}

input,
button,
select {
    border-radius: 5px;
    border: unset;
    padding: 15px 30px;
    font-size: large;
}

button {
    background-color: #395a7f;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: 600;
}

.hidden {
    display: none;
}

.h-link:link,
.h-link:visited {
    text-decoration: none;
    background-color: #395a7f;
    color: white;
    font-weight: 500;
    padding: 14px 25px;
    display: inline-block;
    border-radius: 15px;
}

.h-link:hover {
    background-color: #97afca;
    color: white;
    font-weight: 600;
    border-radius: 10px;

}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/**/

@media (min-width:768px) {

    .l-footer,
    .l-footer_wrapper {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

.footer-web {
    margin: 0 auto;
    background-color: #395a7f;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 99.99%;
    border-radius: 15px;

}

.l-footer {
    background-color: #395a7f;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*.l-footer {
    background: #395a7f;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px
}*/


/* CSS Contact Form*/

.contact-form-main {
    margin: 0;
    font-family: 'Exo2', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75svh;
    font-size: larger;
    background-image: url("https://c.pxhere.com/photos/ef/ba/car_blue_vintage_mexico_old-49516.jpg!d");
    background-repeat: no-repeat;
    background-position: center;

}

.form2-container {
    width: 500px;
    background-color: #9fc8f7c2;
    border-radius: 15px;
    padding: 45px;
}

#error-container {
    color: rgb(255, 1, 1);
    font-weight: 500;
}


/* CSS Dashboard*/
.body-dash {
    font-family: 'Exo-2', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
.header-dash {
    background-color: #333;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-dash ul.li{
    display: flex;
}

/* Estilos del menú lateral */
.sidebar-dashb {
    background-color: #292929;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
    /* Para evitar que el contenido del sidebar se superponga con el encabezado */
}

.sidebar-dashb ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-dashb ul li {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.sidebar-dashb ul li:hover {
    background-color: #395a7f;
}

.sidebar-dashb ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos del contenido principal */
.content-header-dash,
.tbl1-container {
    margin-left: 250px;
    /* Ancho del sidebar */
    padding: 20px;
}

/* Estilo Tabla*/

#tbl-header {
    font-family: 'Exo-2', sans-serif;
    font-weight: bold;
    font-size: 3.6em;
    line-height: 1.7em;
    margin-bottom: 10px;
    text-align: center;
}

#tbl-sheader {
    font-family: 'Exo-2', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.7em;
    margin-bottom: 10px;
    text-align: center;
}

#tbl-container {
    display: block;
    width: 850px;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
}

#tbl-users {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;

}

#tbl-users thead {
    cursor: pointer;
    background: #c9dff0;
}

#tbl-users thead tr th {
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
}

#tbl-users th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#tbl-users thead tr th.headerSortUp,
#keywords thead tr th.headerSortDown {
    background: #acc8dd;
}

#tbl-users thead tr th.headerSortUp span {
    background-image: url('https://i.imgur.com/SP99ZPJ.png');
}

#tbl-users thead tr th.headerSortDown span {
    background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#tbl-users tbody tr {
    color: #555;
}

#tbl-users tbody tr td {
    text-align: center;
    padding: 15px 10px;
}

#tbl-users tbody tr td.lalign {
    text-align: left;
}

/* Estilos del footer */
.footer-dash {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: auto;
    padding: 10px;
}

.btn_logout {
    border-radius: 5px;
    border: unset;
    padding: 7px 14px;
    font-size: smaller;
    align-content: center;
}

/* Style for userForm page*/

.userform-main {
    min-height: 75svh;
    font-size: larger;
    padding-left: 60vmin;
    padding-right: 30vmin;

}

.form3-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

.form3-container input[type=text]:focus {
    border: 3px solid #29415c;
}

.form3-container input[type=email]:focus {
    border: 3px solid #29415c;
}

#btn-userform {
    border-radius: 5px;
    border: unset;
    padding: 7px 14px;
    font-size: smaller;
    align-content: center;
}

.form3-btn {
    border-radius: 5px;
    border: unset;
    padding: 15px 30px;
    font-size: large;
    background-color: #395a7f;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 160px;
    height: 60px;


}

.button-container {
    display: flex;
    margin: 15px;
    cursor: pointer;
    border: unset;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 160px;
    height: 60px;
}

.data-container {
    padding-left: 300px;
    padding-top: 20px;
    padding-right: 150px;

}

.pagination-container {
    padding-left: 300px;
    padding-top: 20px;
    padding-right: 150px;
}

.tbl-pagination {
    padding: 0 auto;
    font-size: medium;
}

.tbl-2 {
    padding-left: 300px;
    padding-top: 20px;
    padding-right: 150px;
}

.tbl-pagina {
    width: 80%;

}

.tbl-pagina td,
th {
    padding: 0.4rem !important;

}

/*
.tbl-pagina tbody tr td.lalign {
    text-align: left;
}

.tbl-pagina tbody tr td {
    text-align: center;
    padding: 15px 10px;
}*/